Requirements:


1. Python3
2. cryptography module (external dependency)


Mac/Linux:

Run packages.sh (dont forget to chmod +x bash.sh)

Windows:

For more details on module installation see https://pypi.org/project/cryptography/#files
